*.egg-info
*.mo
*~
*.pyc
*.pyo
*.tmp*
.bzr
.coverage
.hg
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.minitage*
.mr.developer.cfg
.svn
b.sh
bin
build
develop-eggs
dist
downloads
eggs
fake-eggs
htmlcov/
include/
lib/
local/
minitage.*
parts
plone.env
src.mrdeveloper/*
sys
t
tags
tags.python
var
.project
.pydevproject



# OSX
.DS_Store
