minitage.*
b.sh
travis-4.3.cfg
travis-4.2.cfg
*.mo
src.mrdeveloper/*
tags
tags.python
plone.env
t
.minitage*
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
var
sys
