[buildout]
# Change the number here to change the version of Plone being used
extends = http://dist.plone.org/release/3.3/versions.cfg
    plone.cfg
    funkload.cfg

find-links =
    http://dist.plone.org/release/3.3
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

versions = versions

parts =
    zope2
    tcpwatch-source
    tcpwatch-install
    instance
    zopepy
    funkload
    test
    packages

eggs =
    funkload

[versions]
hexagonit.recipe.download = 1.2.2
docutils = 0.5
zc.buildout = 1.4.1
