[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = Products.Ploneboard
package-extras = [test]
package-min-coverage = 84

parts +=
    createcoverage
    coverage-sh

[code-analysis]
directory = ${buildout:directory}/src/Products/Ploneboard
flake8-ignore = E501
pre-commit-hook = False
return-status-codes = False

[versions]
# use latest version of setuptools
setuptools =
