/* <dtml-with base_properties> (do not remove this :) */


/* Composite editing styles */

div.slot_header {
  /* This is an IE6 hack.  The presence of a floating element in a
  slot changes the layout algorithm somehow so that empty block elements
  in table cells can generate events like onmouseover.  Otherwise, IE
  simply doesn't generate the events. */
  float: right;
}

/* &dtml-plone_skin; */

div.slot_target {
  padding: 4px;
  border: 1px solid &dtml-contentViewBorderColor;;
  cursor: pointer;
  background-image: url("&dtml-portal_url;/composite_tool/uis/plone/target_image");
  background-repeat: repeat;
}

div.slot_target:hover {
  border: 1px solid &dtml-contentViewBorderColor;;
  background-color: &dtml-contentViewBackgroundColor;;
  background-image: url("&dtml-portal_url;/composite_tool/uis/plone/target_image");
  background-repeat: repeat;
}

div.slot_target_highlighted {
  padding: 4px;
  border: 1px solid &dtml-contentViewBorderColor;;
  background-color: &dtml-contentViewBackgroundColor;;
  background-image: url("&dtml-portal_url;/composite_tool/uis/plone/target_image");
  background-repeat: repeat;
}

div.slot_element_body {
  padding-left: 20px;
  display: block;
}

img.slot-element-grip {
  margin: 0px 2px 2px 0px;
  border: 1px solid &dtml-contentViewBorderColor;;
  background-color: &dtml-contentViewBackgroundColor;;
  float: left;
  display: none;
  cursor: pointer;
}

div.slot_element_highlighted img.slot-element-grip {
  border: 1px solid &dtml-contentViewBorderColor;;
  background-color: &dtml-contentViewBackgroundColor;;
}

div.slot_element_highlighted { 
  color: HighlightText;
  background-color: &dtml-contentViewBackgroundColor;;
}

/* </dtml-with> (do not remove this :) */
