/* Manageable Object Styles (CSS 2) */

/* <dtml-with base_properties> (do not remove this :) */

div#drag-feedback-box {
  border: 1px dotted black;
  position: absolute;
  display: none;
  z-index: 1000;
}

div.context-menu {
  position: absolute;
  border: 1px solid &dtml-contentViewBorderColor;;
  background-color: &dtml-contentViewBackgroundColor;;
  color: &dtml-contentViewFontColor;;
  z-index: 1000;
  visibility: hidden;
  display: table;
}

div.context-menu-item, div.context-menu-item_highlighted {
  cursor: default;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}

div.context-menu-item_highlighted {
  background-color: &dtml-contentViewBorderColor;;
  color: White;
}

div.context-menu div.separator {
  border-top: 1px solid &dtml-contentViewBorderColor;;
}

div.context-menu-header {
  background-color: &dtml-contentViewBorderColor;;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 2px 4px 0px 4px;
  cursor: default;
}

div.context-menu-header img {
  margin-right: 6px;
}


/* </dtml-with> (do not remove this :) */
