Source: zope-atcontenttypes
Section: web
Priority: optional
Maintainer: Christian Heimes <heimes@faho.rwth-aachen.de>
Build-Depends-Indep: debhelper (>= 3.0.0)
Standards-Version: 3.6.0

Package: zope-atcontenttypes
Architecture: all
Depends: zope, zope-cmfarchetypes (>= 1.3)
Description: Archetypes's based replacement for standard Plone types
 Homepage: http://www.sourceforge.net/projects/collective



