Source: zope-cmfquickinstallertool
Section: web
Priority: optional
Maintainer: Sylvain Thenault <sylvain.thenault@logilab.fr> 
Build-Depends-Indep: debhelper (>= 3.0.0)
Standards-Version: 3.5.8

Package: zope-cmfquickinstallertool
Architecture: all
Depends: zope
Description: A tool to manage installation of CMF products inside CMF sites
 This tool is independent from the former CMFQuickInstaller.
 The main difference to CMFQuickInstaller the tracking of
 what a product creates during install.
 


